<h2>List of contacts</h2>
<form>
  <label for="search">Search terms</label>
  <input name="search" type="search" value="{{search}}" />
  <button>Search</button>
</form>
<table>
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
  </tr>
  {{#each contacts}}
    <tr>
      <td>{{this.first}}</td>
      <td>{{this.last}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.email}}</td>
      <td>
        <a href="/contacts/{{this.id}}">Edit</a>
        <button hx-target="body" hx-delete="/contacts/{{this.id}}" hx-confirm="Are you sure you want to delete this contact?">Remove</button>
      </td>
    </tr>
  {{/each}}
</table>
<p>
  <a href="/contacts/new">Add a contact</a>
</p>